@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.chat-app {
  background-color: #15191ec9;
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color .3s;
  display: grid;
  place-items: center;
  background-size: cover;
  background-position: center;
  max-width: 70px;
  /* max-height: 70px; */
  height: 70px;
  width: 100%;
}
.chat-app:hover {
  background-color: #15191E;
}
.chat-profile-img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}